//@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600italic|Poiret+One)


//custom
/*.columns {
  border: 10px solid red;
  }*/

footer {
	margin: 1em 0 ;
	padding: 1em 0;
	border-top: 1px solid #999;
	color: #999;
	text-align: center;
}